Flask
gunicorn
beautifulsoup4
Flask-Cors
numpy
nltk
scipy
sklearn
feedparser
lxml
slackclient
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz#en_core_web_sm
