/* body{
	background: #000;
}

div{
  background: blue;
}

#graph{
	background: blue;
	top: 1000px;
}

#key_entity{
	color: green;
} */

body{
		background: #eee;
}

.navbar{
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		z-index: 3;
}
.sidebar{
		position: -webkit-fixed;
		position: fixed;
		top: 30px;
		margin-right: 20px;
}
.key_entity{
	color: green;
}
