<!DOCTYPE html>
<html>
  <head>
    {% if title %}
    <title>{{ title }} - X.I</title>
    {% else %}
    <title>XInit</title>
    {% endif %}

    {% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% endblock meta %}

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous"></script> -->
    <script src="{{ url_for('static', filename='moment.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block header %}
    {% endblock header %}
    {# TODO: add style version control, add js file, add blocks#}
  </head>
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
	  <a class="navbar-brand ml-3" href="/"><h2 class="m-0">X.init</h2></a>
	  <button class="navbar-toggler nav-center" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars fa-flip-vertical"></i>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarText">
	    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <span class="navbar-brand m-0">
        		<h3 class="m-0">(</h3>
    		  </span>
	      </li>
	      <li class="nav-item {{ "active" if title == "News" else None }}">
          <a class="nav-link btn p-2 {{ "btn-info bg-theme-highlight btn-rect" if title == "News" else "btn-dark" }} " href="/index">
            <h4 class="m-0">News,</h4>
          </a>
	      </li>
        <li class="nav-item {{ "active" if title == "Trends" else None }}">
          <a class="nav-link btn p-2 {{ "btn-info bg-theme-highlight btn-rect" if title == "Trends" else "btn-dark" }} " href="/trends">
            <h4 class="m-0">Trends,</h4>
          </a>
        </li>
        <li class="nav-item {{ "active" if title == "Analyses" else None }}">
          <a class="nav-link btn p-2 {{ "btn-info bg-theme-highlight btn-rect" if title == "Analyses" else "btn-dark" }} " href="/analyses">
            <h4 class="m-0">Analyses,</h4>
          </a>
	      </li>
        <li class="nav-item">
          <a class="nav-link btn p-2 btn-dark disabled" href="#">
            <h4 class="m-0">Coming_Soon,</h4>
          </a>
        </li>
	      <li class="nav-item {{ "active" if title == "Profile" else None }}">
          <a class="nav-link btn p-2 {{ "btn-info bg-theme-highlight btn-rect" if title == "Profile" else "btn-dark" }}" href="{{ "/profile" if session['username'] else "/sign_in" }}">
            <h4 class="m-0">{{ "User = {}".format(session['username']) if session['username'] else "Sign_In" }}</h4>
          </a>
	      </li>
	      <li class="nav-item">
          <span class="navbar-brand mr-0">
        		<h3 class="m-0">)</h3>
    		  </span>
	      </li>
	    </ul>
	  </div>
	</nav>

  {% block body_style %}
  <body class="scrollbar-cus bg-theme-secondary">
  {% endblock %}

	{% block content %}{% endblock %}

  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
  <script src="{{ url_for('static', filename='summernote-image-attributes.js') }}"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script>
    $(document).ready(function() {
      $('[id^=summernote]').summernote({
        tabsize: 2,
        minHeight: 100,
        maxHeight: 800,
        height: 'auto',
        popover: {
            image: [
                ['custom', ['imageAttributes']],
                ['imagesize', ['imageSize100', 'imageSize50', 'imageSize25']],
                ['float', ['floatLeft', 'floatRight', 'floatNone']],
                ['remove', ['removeMedia']]
            ],
        },
        imageAttributes:{
            icon:'<i class="note-icon-pencil"/>',
            removeEmpty:false, // true = remove attributes | false = leave empty if present
            disableUpload: false // true = don't display Upload Options | Display Upload Options
        }
      });
    });
  </script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134597937-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-134597937-1');
  </script>
  {% block script %}
  {% endblock script %}
  </body>
</html>
