{% extends "base.html" %}

{% block content %}
<button type="button" class="btn btn-dark btn-sm inset sidebar_toggle" data-toggle="toggle-sidebar">
  <a href="#" data-toggle="tooltip" title="Toggle Sidebar" data-placement="left">
    <i class="fas fa-times"></i>
  </a>
</button>

<div class="container-fluid">
  <div class="row">
    <div class="main col scrollbar-cus sided">
      {% block main %}
      {% endblock main %}
    </div>

    <div class="sidebar scrollbar-cus in col-sm-auto inset">
      <div class="sidebar_content">
        <div class="card shadow sidebar_card bg-light mb-3">
          <div class="card-body sidebar_card_body scrollbar-cus p-2 ">
            <form class="form-inline" role="form">
              <button id="sampler" type="button" class="btn btn-dark px-1 sidebar_function">
                <span class="fa-stack fa-xs">
                  <i class="fas fa-server fa-stack-2x" style="color:MediumAquamarine"></i>
                  <i class="fas fa-drafting-compass fa-stack-2x"></i>
                </span>
                <span id="sampler-btn-text" style="color:MediumAquamarine">
                  Track missing assets
                </span>
              </button>
              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#noticeModal">
                <i class="fas fa-question"></i>
              </button>
            </form>
          </div>
        </div>
      {% block side %}
      {% endblock side %}
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-info text-white">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Help improve our asset recognition algorithm !</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Found An asset in the post that's not been caught? submit it here <i class="fas fa-arrow-right slide-to-right"></i>
        </p>
        <ol>
          <li>Click the button
            <span class="fa-stack">
              <i class="fas fa-square fa-stack-2x text-dark"></i>
              <i class="fas fa-server fa-stack-1x" style="color:MediumAquamarine"></i>
              <i class="fas fa-drafting-compass fa-stack-1x text-dark"></i>
            </span>
          </li>
          <li>Select a term that represents a publicly traded security (in posts on the NEWS page)</li>
          <li>Click Submit!</li>
        </ol>
        <p>
          The terms submitted will be reviewed weekly to improve our Named Entity Recognization model.
          <strong>Thank you!</strong>
        </p>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
{% endblock content %}

{% block script %}
<script>
  $(document).ready(function() {
    checkSize();
    // setTimeout(unprohibit_animation(),10000);
    // $(window).resize(checkSize);
  });
  function checkSize() {
    if ($(".main.sided").css("margin-left") == "-400px" ){
      $('.sidebar').toggleClass('in');
      $('.main').toggleClass('sided');
      $('.sidebar_toggle').children().children().toggleClass('out');
      $(window).on('load', function() {
        unprohibit_animation();
      });
    } else {
      unprohibit_animation();
    }
  }
  function unprohibit_animation() {
    $('.sidebar').toggleClass('loaded');
    $('.main').toggleClass('loaded');
  }
  $("[data-toggle='toggle-sidebar']").click(function() {
    $('.sidebar').toggleClass('in');
    $('.main').toggleClass('sided');
    $('.sidebar_toggle').children().children().toggleClass('out');
  });
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

  function word_selection() {
    var selection = window.getSelection();
    if (selection.anchorNode != null && !selection.isCollapsed) {
      var range = selection.getRangeAt(0);
      if (range.startContainer == range.endContainer) {
        $("#selected-text").val(selection.toString());
        $("#selected-context").val(selection.anchorNode.textContent);
        $("#selected-text-start").val(range.startOffset);
        $("#selected-text-end").val(range.endOffset);
      }
    }
  }
  function submit_sample() {
    var data = {"token": $("#selected-text").val(),
                "context": $("#selected-context").val(),
                "start": $("#selected-text-start").val(),
                "end": $("#selected-text-end").val()};
    $.post("/ner_sample", data).done(function() {
      $("#selected-text").val('');
      // $("#sample_selection").remove();
      alert( "Sample submitted!" );
    }).fail(function(xhr, status, error) {
      alert( xhr.responseText );
    });
  }
  function handler1() {
    $(".nlp-text").on( "mouseup", null, word_selection );
    $(this).find('#sampler-btn-text').text('Cancel')
    $(this).after( `{% include 'nlp_sample_form.html' %}` );
    $(this).one("click", handler2);
  }
  function handler2() {
    $(".nlp-text").off( "mouseup", null, word_selection );
    $(this).find('#sampler-btn-text').text('Track missing assets')
    $("#sample_selection").remove();
    $(this).one("click", handler1);
  }
  $("#sampler").one("click", handler1);
  <!-- https://stackoverflow.com/questions/4911577/jquery-click-toggle-between-two-functions -->
  <!-- http://api.jquery.com/off/ -->
</script>
  {% block main_script %}
  {% endblock main_script %}
{% endblock script %}
