{% extends "base.html" %}
{% block content %}
<div class="container landing mt-3">
  <div class="row">
    <div class="col card mt-3 pt-3">
      <h1 class="text-center tracking-in-expand">
        X.INIT
      </h1>
      <h2 class="text-center tracking-in-expand">
        Automating Financial Data Processing and Analysis
      </h2>

            <!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" viewBox="0 0 640 640" width="640" height="640">
              <defs>
                <path d="M130 320L250 380L250 320L130 260L130 320Z" id="f3wj8MMl4H"></path>
                <linearGradient id="gradientdJ4SXNtjg" gradientUnits="userSpaceOnUse" x1="250" y1="360" x2="130" y2="303.16">
                  <stop style="stop-color: #00c3ff;stop-opacity: 1" offset="0%"></stop>
                  <stop style="stop-color: #0097e6;stop-opacity: 1" offset="100%"></stop>
                </linearGradient>
                <path d="M250 320L370 260L370 320L250 380L250 320Z" id="b1Ci3tEIbG"></path>
                <linearGradient id="gradiente56M97Ioi" gradientUnits="userSpaceOnUse" x1="370" y1="360" x2="250" y2="300">
                  <stop style="stop-color: #00c3ff;stop-opacity: 1" offset="0%"></stop>
                  <stop style="stop-color: #0097e6;stop-opacity: 1" offset="100%"></stop>
                </linearGradient>
                <path d="M250 200L370 260L250 320L130 260L250 200Z" id="b1XVcsDJtr"></path>
                <linearGradient id="gradientg5yV8U8Fi" gradientUnits="userSpaceOnUse" x1="130" y1="260" x2="370" y2="260">
                  <stop style="stop-color: #00b0e6;stop-opacity: 1" offset="0%"></stop>
                  <stop style="stop-color: #00e7ff;stop-opacity: 1" offset="100%"></stop>
                </linearGradient>
                <path d="M250 215L340 260L250 305L160 260L250 215Z" id="edHGS3BQ"></path>
                <linearGradient id="gradientl5KhvxmhET" gradientUnits="userSpaceOnUse" x1="160" y1="260" x2="340" y2="260">
                  <stop style="stop-color: #102748;stop-opacity: 1" offset="0%"></stop>
                  <stop style="stop-color: #064c5c;stop-opacity: 1" offset="100%"></stop>
                </linearGradient>
                <path d="M250 215L250 220L165 262.5L160 260L250 215Z" id="b1ueUHO1T"></path>
                <path d="M250 215L250 220L335 262.5L340 260L250 215Z" id="b1BgruI61w"></path>
                <path d="M190.63 267.19L183.75 263.75L199.69 255.78L206.56 259.22L190.63 267.19ZM208.44 258.28L201.56 254.84L210 250.63L216.88 254.06L208.44 258.28ZM218.75 253.13L211.88 249.69L221.88 244.69L228.75 248.13L218.75 253.13ZM230.63 247.19L223.75 243.75L241.18 235.03L248.06 238.47L230.63 247.19ZM249.93 237.53L243.06 234.1L251.25 230L258.13 233.44L249.93 237.53Z"
                  id="e9hcqx5VW"></path>
                <path d="M246.88 295.31L240 291.88L250.16 286.8L257.03 290.23L246.88 295.31ZM258.91 289.3L252.03 285.86L267.66 278.05L274.53 281.48L258.91 289.3ZM276.41 280.55L269.53 277.11L272.19 275.78L279.06 279.22L276.41 280.55ZM280.94 278.28L274.06 274.84L277.19 273.28L284.06 276.72L280.94 278.28ZM285.94 275.78L279.06 272.34L298.75 262.5L305.63 265.94L285.94 275.78ZM307.5 265L300.63 261.56L305.94 258.91L312.81 262.34L307.5 265Z"
                  id="g2dDRY021k"></path>
                <path d="M201.88 272.81L195 269.38L201.72 266.02L208.59 269.45L201.88 272.81ZM210.47 268.52L203.59 265.08L224.69 254.53L231.56 257.97L210.47 268.52ZM233.44 257.03L226.56 253.59L237.08 248.34L243.95 251.78L233.44 257.03ZM245.83 250.84L238.95 247.4L260.84 236.46L267.71 239.89L245.83 250.84Z"
                  id="b1P7ZvJPUb"></path>
                <path d="M213.13 278.44L206.25 275L218.91 268.67L225.78 272.11L213.13 278.44ZM227.66 271.17L220.78 267.73L225.62 265.31L232.5 268.75L227.66 271.17ZM234.37 267.81L227.5 264.38L238.63 258.81L245.5 262.25L234.37 267.81ZM247.38 261.31L240.5 257.87L252.86 251.7L259.73 255.14L247.38 261.31ZM261.61 254.2L254.73 250.76L269.58 243.34L276.45 246.78L261.61 254.2ZM278.33 245.84L271.45 242.4L273.75 241.25L280.63 244.69L278.33 245.84Z"
                  id="b2595yzqLc"></path>
                <path d="M224.38 284.06L217.5 280.63L220.16 279.3L227.03 282.73L224.38 284.06ZM228.91 281.8L222.03 278.36L233.75 272.5L240.63 275.94L228.91 281.8ZM242.5 275L235.63 271.56L260.75 259L267.62 262.44L242.5 275ZM269.5 261.5L262.62 258.06L276.41 251.17L283.28 254.61L269.5 261.5ZM285.16 253.67L278.28 250.23L285 246.88L291.88 250.31L285.16 253.67Z"
                  id="a1IVABFXAv"></path>
                <path d="M228.75 286.25L250 275.63L256.88 279.06L235.63 289.69L235.63 289.69L228.75 286.25ZM251.88 274.69L259.69 270.78L266.56 274.22L258.75 278.13L258.75 278.13L251.88 274.69ZM261.56 269.84L275 263.13L281.88 266.56L268.44 273.28L268.44 273.28L261.56 269.84ZM276.88 262.19L278.91 261.17L285.78 264.61L283.75 265.63L283.75 265.63L276.88 262.19ZM280.78 260.24L293.44 253.91L300.31 257.34L287.66 263.67L287.66 263.67L280.78 260.24Z"
                  id="er6NZXtjY"></path>
                <path d="M230.63 247.19L223.75 243.75L241.18 235.03L248.06 238.47L230.63 247.19Z" id="h1fIqeyssv"></path>
                <path d="M227.5 264.38L238.63 258.81L245.5 262.25L234.37 267.81L234.37 267.81L227.5 264.38Z" id="b3066p5B3r"></path>
                <path d="M262.62 258.06L276.41 251.17L283.28 254.61L269.5 261.5L269.5 261.5L262.62 258.06Z" id="c607bmDkv"></path>
                <path d="M235.63 289.69L228.75 286.25L250 275.63L256.88 279.06L235.63 289.69Z" id="a3JUZK0X3"></path>
              </defs>
              <g>
                <g>
                  <g><use xlink:href="#f3wj8MMl4H" opacity="1" fill="url(#gradientdJ4SXNtjg)"></use></g>
                  <g><use xlink:href="#b1Ci3tEIbG" opacity="1" fill="url(#gradiente56M97Ioi)"></use></g>
                  <g><use xlink:href="#b1XVcsDJtr" opacity="1" fill="url(#gradientg5yV8U8Fi)"></use></g>
                  <g><use xlink:href="#edHGS3BQ" opacity="1" fill="url(#gradientl5KhvxmhET)"></use></g>
                  <g><use xlink:href="#b1ueUHO1T" opacity="1" fill="#00defb" fill-opacity="1"></use></g>
                  <g><use xlink:href="#b1BgruI61w" opacity="1" fill="#0097e6" fill-opacity="1"></use></g>
                </g>
                <g>
                  <g class = "scale-in-ver-bottom" style="--x-position: 190.63px; --y-position: 267.19px;"><use xlink:href="#e9hcqx5VW" opacity="1" fill="#bababa" fill-opacity="1"></use></g>
                  <g class = "scale-in-ver-bottom" style="--x-position: 246.88px; --y-position: 295.31px;"><use xlink:href="#g2dDRY021k" opacity="1" fill="#bababa" fill-opacity="1"></use></g>
                  <g class = "scale-in-ver-bottom" style="--x-position: 201.88px; --y-position: 272.81px;"><use xlink:href="#b1P7ZvJPUb" opacity="1" fill="#bababa" fill-opacity="1"></use></g>
                  <g class = "scale-in-ver-bottom" style="--x-position: 213.13px; --y-position: 278.44px;"><use xlink:href="#b2595yzqLc" opacity="1" fill="#bababa" fill-opacity="1"></use></g>
                  <g class = "scale-in-ver-bottom" style="--x-position: 224.38px; --y-position: 284.06px;"><use xlink:href="#a1IVABFXAv" opacity="1" fill="#bababa" fill-opacity="1"></use></g>
                  <g class = "scale-in-ver-bottom" style="--x-position: 228.75px; --y-position: 286.25px;"><use xlink:href="#er6NZXtjY" opacity="1" fill="#bababa" fill-opacity="1"></use></g>
                </g>
                <g class = "fade-in-fwd">
                  <g><use xlink:href="#h1fIqeyssv" opacity="1" fill="#d71313" fill-opacity="1"></use></g>
                  <g><use xlink:href="#b3066p5B3r" opacity="1" fill="#d71313" fill-opacity="1"></use></g>
                  <g><use xlink:href="#c607bmDkv" opacity="1" fill="#d71313" fill-opacity="1"></use></g>
                  <g><use xlink:href="#a3JUZK0X3" opacity="1" fill="#d71313" fill-opacity="1"></use></g>
                </g>
              </g>
            </svg> -->

            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" viewBox="0 0 640 640" width="640" height="640">
              <defs>
                <path d="M310 280L310 250L250 280L370 340L430 340L310 280Z" id="c3ACnP3Dg"></path>
                <linearGradient id="gradientctAZuX04s" gradientUnits="userSpaceOnUse" x1="250" y1="280" x2="430" y2="280">
                  <stop style="stop-color: #78b3c9;stop-opacity: 1" offset="0%"></stop>
                  <stop style="stop-color: #769a9f;stop-opacity: 1" offset="100%"></stop>
                </linearGradient>
                <path d="M310 280L430 340L430 140L310 80L310 280Z" id="adgEQ6i6i"></path>
                <linearGradient id="gradientd2bBFiilZi" gradientUnits="userSpaceOnUse" x1="430" y1="210" x2="310" y2="80">
                  <stop style="stop-color: #00abe9;stop-opacity: 1" offset="0%"></stop>
                  <stop style="stop-color: #0097e6;stop-opacity: 1" offset="100%"></stop>
                </linearGradient>
                <path d="M430 140L550 80L550 280L430 340L430 140Z" id="c3BXO8EdIP"></path>
                <linearGradient id="gradientbm6zWS9RH" gradientUnits="userSpaceOnUse" x1="550" y1="80" x2="430" y2="210">
                  <stop style="stop-color: #00e4fe;stop-opacity: 1" offset="0%"></stop>
                  <stop style="stop-color: #00e0fc;stop-opacity: 1" offset="100%"></stop>
                </linearGradient>
                <path d="M120 380L120 350L60 380L180 440L240 440L120 380Z" id="d2fjL6SliC"></path>
                <linearGradient id="gradienta2Rww63QS2" gradientUnits="userSpaceOnUse" x1="60" y1="380" x2="240" y2="380">
                  <stop style="stop-color: #78b3c9;stop-opacity: 1" offset="0%"></stop>
                  <stop style="stop-color: #769a9f;stop-opacity: 1" offset="100%"></stop>
                </linearGradient>
                <path d="M120 380L240 440L240 380L120 320L120 380Z" id="bmdYcp6h7"></path>
                <linearGradient id="gradientb2p8K5nZ08" gradientUnits="userSpaceOnUse" x1="240" y1="380" x2="120" y2="320">
                  <stop style="stop-color: #00abe9;stop-opacity: 1" offset="0%"></stop>
                  <stop style="stop-color: #0097e6;stop-opacity: 1" offset="100%"></stop>
                </linearGradient>
                <path d="M430 20L550 80L430 140L310 80L430 20Z" id="j5AH5V20KR"></path>
                <linearGradient id="gradienth4URt1dZC" gradientUnits="userSpaceOnUse" x1="310" y1="80" x2="550" y2="80">
                  <stop style="stop-color: #00b0e6;stop-opacity: 1" offset="0%"></stop>
                  <stop style="stop-color: #00e0fc;stop-opacity: 1" offset="100%"></stop>
                </linearGradient>
                <path d="M240 380L360 320L360 380L240 440L240 380Z" id="i28a9LoWWC"></path>
                <linearGradient id="gradientcC3DrwOAV" gradientUnits="userSpaceOnUse" x1="360" y1="320" x2="240" y2="380">
                  <stop style="stop-color: #00e4fe;stop-opacity: 1" offset="0%"></stop>
                  <stop style="stop-color: #00e0fc;stop-opacity: 1" offset="100%"></stop>
                </linearGradient>
                <path d="M240 260L360 320L240 380L120 320L240 260Z" id="a4FdA6fQbE"></path>
                <linearGradient id="gradientg1vloFvjR" gradientUnits="userSpaceOnUse" x1="120" y1="320" x2="360" y2="320">
                  <stop style="stop-color: #2be3ff;stop-opacity: 1" offset="0%"></stop>
                  <stop style="stop-color: #b7f6ff;stop-opacity: 1" offset="100%"></stop>
                </linearGradient>
                <path d="M510 380L510 350L450 380L570 440L630 440L510 380Z" id="eoRxsamTN"></path>
                <linearGradient id="gradientfw3mQmGV2" gradientUnits="userSpaceOnUse" x1="450" y1="380" x2="630" y2="380">
                  <stop style="stop-color: #78b3c9;stop-opacity: 1" offset="0%"></stop>
                  <stop style="stop-color: #769a9f;stop-opacity: 1" offset="100%"></stop>
                </linearGradient>
                <path d="M510 380L630 440L630 320L510 260L510 380Z" id="c1SEBWt92Z"></path>
                <linearGradient id="gradienth4giznkns" gradientUnits="userSpaceOnUse" x1="630" y1="350" x2="510" y2="260">
                  <stop style="stop-color: #00abe9;stop-opacity: 1" offset="0%"></stop>
                  <stop style="stop-color: #0097e6;stop-opacity: 1" offset="100%"></stop>
                </linearGradient>
                <path d="M630 320L750 260L750 380L630 440L630 320Z" id="cSVBJCC41"></path>
                <linearGradient id="gradientd202t2i1Lb" gradientUnits="userSpaceOnUse" x1="750" y1="440" x2="630" y2="350">
                  <stop style="stop-color: #00e4fe;stop-opacity: 1" offset="0%"></stop>
                  <stop style="stop-color: #00e0fc;stop-opacity: 1" offset="100%"></stop>
                </linearGradient>
                <path d="M630 200L750 260L630 320L510 260L630 200Z" id="b29lCvQ1Iw"></path>
                <linearGradient id="gradientb2pZX1KGRQ" gradientUnits="userSpaceOnUse" x1="510" y1="260" x2="750" y2="260">
                  <stop style="stop-color: #00b0e6;stop-opacity: 1" offset="0%"></stop>
                  <stop style="stop-color: #00e0fc;stop-opacity: 1" offset="100%"></stop>
                </linearGradient>
                <path d="M240 275L330 320L240 365L150 320L240 275Z" id="e1tiOVRY1a"></path>
                <linearGradient id="gradienta1BonRp2TI" gradientUnits="userSpaceOnUse" x1="150" y1="320" x2="330" y2="320">
                  <stop style="stop-color: #102748;stop-opacity: 1" offset="0%"></stop>
                  <stop style="stop-color: #064c5c;stop-opacity: 1" offset="100%"></stop>
                </linearGradient>
                <path d="M240 275L240 280L155 322.5L150 320L240 275Z" id="a1wL3LeMf9"></path>
                <path d="M240 275L240 280L325 322.5L330 320L240 275Z" id="b3MHVslSmU"></path>
                <path d="M182.5 326.25L175.63 322.81L200 310.63L206.88 314.06L182.5 326.25ZM208.75 313.13L201.88 309.69L211.88 304.69L218.75 308.13L208.75 313.13ZM220.63 307.19L213.75 303.75L231.18 295.03L238.06 298.47L220.63 307.19ZM239.93 297.53L233.06 294.1L241.25 290L248.13 293.44L239.93 297.53Z"
                  id="ayaFQvZeG"></path>
                <path d="M191.88 332.81L185 329.38L214.69 314.53L221.56 317.97L191.88 332.81ZM223.44 317.03L216.56 313.59L227.08 308.34L233.95 311.78L223.44 317.03ZM235.83 310.84L228.95 307.4L250.94 296.41L257.81 299.84L235.83 310.84Z" id="a7t4ujyps"></path>
                <path d="M203.13 338.44L196.25 335L208.91 328.67L215.78 332.11L203.13 338.44ZM217.66 331.17L210.78 327.73L215.62 325.31L222.5 328.75L217.66 331.17ZM224.37 327.81L217.5 324.38L230.47 317.89L237.34 321.33L224.37 327.81ZM239.22 320.39L232.34 316.95L242.86 311.7L249.73 315.14L239.22 320.39ZM251.61 314.2L244.73 310.76L259.22 303.52L266.09 306.95L251.61 314.2ZM267.97 306.02L261.09 302.58L263.75 301.25L270.63 304.69L267.97 306.02Z"
                  id="b1aZ35PHH"></path>
                <path d="M207.5 340.63L212.5 338.13L219.38 341.56L214.38 344.06L214.38 344.06L207.5 340.63ZM214.38 337.19L224.51 332.12L231.13 335.68L221.25 340.63L221.25 340.63L214.38 337.19ZM226.35 331.2L250.75 319L257.62 322.44L232.97 334.77L232.97 334.77L226.35 331.2ZM252.62 318.06L266.41 311.17L273.28 314.61L259.5 321.5L259.5 321.5L252.62 318.06ZM268.28 310.23L275 306.88L281.88 310.31L275.16 313.67L275.16 313.67L268.28 310.23Z"
                  id="aox8ll8q1"></path>
                <path d="M218.75 346.25L240 335.63L246.88 339.06L225.63 349.69L225.63 349.69L218.75 346.25ZM241.88 334.69L249.69 330.78L256.56 334.22L248.75 338.13L248.75 338.13L241.88 334.69ZM251.57 329.84L265 323.13L271.88 326.56L258.44 333.28L258.44 333.28L251.57 329.84ZM266.88 322.19L268.91 321.17L275.78 324.61L273.75 325.63L273.75 325.63L266.88 322.19ZM270.78 320.24L283.44 313.91L290.31 317.35L277.66 323.67L277.66 323.67L270.78 320.24Z"
                  id="b2wrlG3tyb"></path>
                <path d="M236.88 355.31L230 351.88L240.16 346.8L247.03 350.23L236.88 355.31ZM248.91 349.3L242.03 345.86L257.66 338.05L264.53 341.48L248.91 349.3ZM266.41 340.55L259.53 337.11L262.19 335.78L269.06 339.22L266.41 340.55ZM270.94 338.28L264.06 334.84L267.19 333.28L274.06 336.72L270.94 338.28ZM275.94 335.78L269.06 332.34L288.75 322.5L295.63 325.94L275.94 335.78ZM297.5 325L290.63 321.56L296.41 318.67L303.28 322.11L297.5 325Z"
                  id="e1PRRp8VMU"></path>
                <path d="M213.75 303.75L231.18 295.03L238.06 298.47L220.63 307.19L220.63 307.19L213.75 303.75Z" id="df8S33ADC"></path>
                <path d="M224.37 327.81L217.5 324.38L230.47 317.89L237.34 321.33L224.37 327.81Z" id="bUpHxPvwY"></path>
                <path d="M259.5 321.5L252.62 318.06L266.41 311.17L273.28 314.61L259.5 321.5Z" id="bw1WQaBpQ"></path>
                <path d="M218.75 346.25L240 335.63L246.88 339.06L225.63 349.69L225.63 349.69L218.75 346.25Z" id="f2m394hBzP"></path>
                <path d="M430 360L550 470L430 530L310 420L430 360Z" id="f135D87QF0"></path>
                <linearGradient id="gradientd1EvB02bb" gradientUnits="userSpaceOnUse" x1="310" y1="445" x2="550" y2="445">
                  <stop style="stop-color: #00b0e6;stop-opacity: 1" offset="0%"></stop>
                  <stop style="stop-color: #00e0fc;stop-opacity: 1" offset="100%"></stop>
                </linearGradient>
                <path d="M310 480L430 540L430 530L310 420L310 480Z" id="a2q3vOy8lh"></path>
                <linearGradient id="gradientc1NnsO5Qki" gradientUnits="userSpaceOnUse" x1="430" y1="480" x2="310" y2="420">
                  <stop style="stop-color: #00abe9;stop-opacity: 1" offset="0%"></stop>
                  <stop style="stop-color: #0097e6;stop-opacity: 1" offset="100%"></stop>
                </linearGradient>
                <path d="M430 530L550 470L550 480L430 540L430 530Z" id="cuyNcmyvU"></path>
                <linearGradient id="gradientblYFRA79i" gradientUnits="userSpaceOnUse" x1="550" y1="540" x2="430" y2="505">
                  <stop style="stop-color: #00e4fe;stop-opacity: 1" offset="0%"></stop>
                  <stop style="stop-color: #00e0fc;stop-opacity: 1" offset="100%"></stop>
                </linearGradient>
                <path d="M310 480L310 450L250 480L370 540L430 540L310 480Z" id="c1CcJXZhEA"></path>
                <linearGradient id="gradientbYoTGFVhT" gradientUnits="userSpaceOnUse" x1="250" y1="480" x2="430" y2="480">
                  <stop style="stop-color: #78b3c9;stop-opacity: 1" offset="0%"></stop>
                  <stop style="stop-color: #769a9f;stop-opacity: 1" offset="100%"></stop>
                </linearGradient>
                <path d="M-70 480L50 540L50 480L-70 420L-70 480Z" id="aKZPSmGbU"></path>
                <linearGradient id="gradientaahZ3VfID" gradientUnits="userSpaceOnUse" x1="50" y1="480" x2="-70" y2="420">
                  <stop style="stop-color: #00abe9;stop-opacity: 1" offset="0%"></stop>
                  <stop style="stop-color: #0097e6;stop-opacity: 1" offset="100%"></stop>
                </linearGradient>
                <path d="M-70 480L-70 450L-130 480L-10 540L50 540L-70 480Z" id="f3Qcjneh9O"></path>
                <linearGradient id="gradientamjgai4w" gradientUnits="userSpaceOnUse" x1="-130" y1="480" x2="50" y2="480">
                  <stop style="stop-color: #78b3c9;stop-opacity: 1" offset="0%"></stop>
                  <stop style="stop-color: #769a9f;stop-opacity: 1" offset="100%"></stop>
                </linearGradient>
                <path d="M50 480L170 420L170 480L50 540L50 480Z" id="b1y7VVZXJn"></path>
                <linearGradient id="gradientb4MgDbBoN" gradientUnits="userSpaceOnUse" x1="170" y1="540" x2="50" y2="480">
                  <stop style="stop-color: #00e4fe;stop-opacity: 1" offset="0%"></stop>
                  <stop style="stop-color: #00e0fc;stop-opacity: 1" offset="100%"></stop>
                </linearGradient>
                <path d="M50 360L170 420L50 480L-70 420L50 360Z" id="a2Md6wommP"></path>
                <linearGradient id="gradientamGcMiDVw" gradientUnits="userSpaceOnUse" x1="-70" y1="420" x2="170" y2="420">
                  <stop style="stop-color: #00b0e6;stop-opacity: 1" offset="0%"></stop>
                  <stop style="stop-color: #00e0fc;stop-opacity: 1" offset="100%"></stop>
                </linearGradient>
              </defs>
              <g>
                <g>
                  <g><use xlink:href="#c3ACnP3Dg" opacity="1" fill="url(#gradientctAZuX04s)"></use></g>
                  <g><use xlink:href="#adgEQ6i6i" opacity="1" fill="url(#gradientd2bBFiilZi)"></use></g>
                  <g><use xlink:href="#c3BXO8EdIP" opacity="1" fill="url(#gradientbm6zWS9RH)"></use></g>
                  <g><use xlink:href="#d2fjL6SliC" opacity="1" fill="url(#gradienta2Rww63QS2)"></use></g>
                  <g><use xlink:href="#bmdYcp6h7" opacity="1" fill="url(#gradientb2p8K5nZ08)"></use></g>
                  <g><use xlink:href="#j5AH5V20KR" opacity="1" fill="url(#gradienth4URt1dZC)"></use></g>
                  <g><use xlink:href="#i28a9LoWWC" opacity="1" fill="url(#gradientcC3DrwOAV)"></use></g>
                  <g><use xlink:href="#a4FdA6fQbE" opacity="1" fill="url(#gradientg1vloFvjR)"></use></g>
                  <g><use xlink:href="#eoRxsamTN" opacity="1" fill="url(#gradientfw3mQmGV2)"></use></g>
                  <g><use xlink:href="#c1SEBWt92Z" opacity="1" fill="url(#gradienth4giznkns)"></use></g>
                  <g><use xlink:href="#cSVBJCC41" opacity="1" fill="url(#gradientd202t2i1Lb)"></use></g>
                  <g><use xlink:href="#b29lCvQ1Iw" opacity="1" fill="url(#gradientb2pZX1KGRQ)"></use></g>
                  <g><use xlink:href="#e1tiOVRY1a" opacity="1" fill="url(#gradienta1BonRp2TI)"></use></g>
                  <g><use xlink:href="#a1wL3LeMf9" opacity="1" fill="#00e4fe" fill-opacity="1"></use></g>
                  <g><use xlink:href="#b3MHVslSmU" opacity="1" fill="#00a1e8" fill-opacity="1"></use></g>
                </g>
                <g>
                  <g class = "scale-in-ver-bottom" style="--x-position: 182.5px; --y-position: 326.25px;"><use xlink:href="#ayaFQvZeG" opacity="1" fill="#bababa" fill-opacity="1"></use></g>
                  <g class = "scale-in-ver-bottom" style="--x-position: 191.88px; --y-position: 332.81px;"><use xlink:href="#a7t4ujyps" opacity="1" fill="#bababa" fill-opacity="1"></use></g>
                  <g class = "scale-in-ver-bottom" style="--x-position: 203.13px; --y-position: 338.44px;"><use xlink:href="#b1aZ35PHH" opacity="1" fill="#bababa" fill-opacity="1"></use></g>
                  <g class = "scale-in-ver-bottom" style="--x-position: 207.5px; --y-position: 340.63px;"><use xlink:href="#aox8ll8q1" opacity="1" fill="#bababa" fill-opacity="1"></use></g>
                  <g class = "scale-in-ver-bottom" style="--x-position: 218.75px; --y-position: 346.25px;"><use xlink:href="#b2wrlG3tyb" opacity="1" fill="#bababa" fill-opacity="1"></use></g>
                  <g class = "scale-in-ver-bottom" style="--x-position: 236.88px; --y-position: 355.31px;"><use xlink:href="#e1PRRp8VMU" opacity="1" fill="#bababa" fill-opacity="1"></use></g>
                </g>
                <g class = "fade-in-fwd">
                  <g><use xlink:href="#df8S33ADC" opacity="1" fill="#d71313" fill-opacity="1"></use></g>
                  <g><use xlink:href="#bUpHxPvwY" opacity="1" fill="#d71313" fill-opacity="1"></use></g>
                  <g><use xlink:href="#bw1WQaBpQ" opacity="1" fill="#d71313" fill-opacity="1"></use></g>
                  <g><use xlink:href="#f2m394hBzP" opacity="1" fill="#d71313" fill-opacity="1"></use></g>
                </g>
                <g>
                  <g><use xlink:href="#f135D87QF0" opacity="1" fill="url(#gradientd1EvB02bb)"></use></g>
                  <g><use xlink:href="#a2q3vOy8lh" opacity="1" fill="url(#gradientc1NnsO5Qki)"></use></g>
                  <g><use xlink:href="#cuyNcmyvU" opacity="1" fill="url(#gradientblYFRA79i)"></use></g>
                  <g><use xlink:href="#c1CcJXZhEA" opacity="1" fill="url(#gradientbYoTGFVhT)"></use></g>

                  <g><use xlink:href="#aKZPSmGbU" opacity="1" fill="url(#gradientaahZ3VfID)"></use></g>
                  <g><use xlink:href="#f3Qcjneh9O" opacity="1" fill="url(#gradientamjgai4w)"></use></g>
                  <g><use xlink:href="#b1y7VVZXJn" opacity="1" fill="url(#gradientb4MgDbBoN)"></use></g>
                  <g><use xlink:href="#a2Md6wommP" opacity="1" fill="url(#gradientamGcMiDVw)"></use></g>
                </g>
              </g>
            </svg>
        </div>
    </div>
</div>
{% endblock %}
