{% extends "base.html" %}
{% block content %}
<div class="container mt-3">
  <div class="row ">
      <div class="col card mt-3 pt-3">
        <div class="card-block">
          <h2 class="text-center">
              Submit an analysis (trial version)
          </h2>
          <hr class='inv-clr'>
          <form method=POST>
              {% from "_formhelpers.html" import render_field %}
              {{ form.csrf_token }}
              {{ render_field(form.title) }}
              {{ render_field(form.content) }}
              {{ render_field(form.keywords) }}
              <div class="container">
                <div class="row">
                  <button type="submit" class="col btn btn-primary" formaction="{{ request.path }}">
                    Publish
                  </button>
                </div>
              </div>
          </form>
          <br>
        </div>
      </div>
  </div>
</div>
{% endblock %}
