{% extends "base.html" %}
{% block content %}
<div class="container login mt-3">
    <div class="row">
        <div class="col card mt-3 pt-3">
            <h2 class="text-center">
                Hello {{ session['username'] }}!
            </h2>
            <p>
              More user related info and actions will show up here.
            </p>
            {% if session['privilege_level'] < 2 %}
              <a href="{{ url_for('new_post') }}" class="btn btn-primary" role="button">Write a post</a>
            {% endif %}
            <form method=POST>
                <button type="submit" class="col btn btn-link" formaction="{{ url_for('logout') }}">
                    Sign out
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
