{% extends "base.html" %}
{% block content %}
<div class="container login mt-3">
    <div class="row">
        <div class="col card mt-3 pt-3">
          <div class="card-block">
            <h2 class="text-center">
                Register as a new user
            </h2>
            <hr class='inv-clr'>
            <h4 class = "text-center">
                Thank you for visiting!
            </h4>
            <p class = "text-center">
              X.init is a project dedicated to financal pattern recognition. </br>
              This is the hosted web portal for news related feed.
            </p>
            <hr class='inv-clr'>
            <h5>
                Sign up to be involved and informed with updates. </br>
                In the future, users will be able to:
            </h5>
            <p>
                <ul>
                  <li>
                    Keep their watch list of assets and keywords
                  </li>
                  <li>
                    Have posts scored and ranked based on their focus
                  </li>
                  <li>
                    Contribute to the system by suggesting connections between terms and assets
                  </li>
                  <li>
                    Receive personalized newsletters
                  </li>
                  <li>
                    ...
                  </li>
                </ul>
            </p>
            <a class="github-button" href="https://github.com/code-omega" data-show-count="true" aria-label="Follow @code-omega on GitHub">
              Follow @code-omega
            </a>
            <hr class='inv-clr'>
            <form method=POST>
                {% from "_formhelpers.html" import render_field %}
                {{ form.csrf_token }}
                {{ render_field(form.username) }}
                {{ render_field(form.email) }}
                {{ render_field(form.password) }}
                {{ render_field(form.confirm) }}
                <div class="container">
                  <div class="row">
                    <button type="submit" class="col btn btn-primary" formaction="{{ url_for('register') }}">
                      SIGN UP
                    </button>
                  </div>
                </div>
            </form>
            <br>
          </div>
        </div>
    </div>
</div>
{% endblock %}
