{% extends "base.html" %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col card m-3 pt-3">
            <h2 class="text-center">
              Trends <span class="badge badge-title">Beta</span>
            </h2>
            <h5 class="text-center">
              Interest in news related assets in the last 24 hours (UTC)
            </h5>
            <p class="small text-muted text-center">
              Last Update: {{ momentjs(time_updated).fromNow() }}
            </p>
        </div>
    </div>
    <div class="card-columns">
      {% for s in series %}
      <div class="card">
        <canvas id="line-chart-{{loop.index}}" class = width="300" height="200"></canvas>
      </div>
      {% endfor %}
    </div>
</div>

{% endblock %}

{% block script %}
<script>
{% for s in series %}
new Chart(document.getElementById("line-chart-{{loop.index}}"), {
  type: 'line',
  data: {
    labels: ["{{x_axis|join('","')|safe}}"],
    datasets: [
      {
        data: [{{s.v|join(',')}}],
        label: "{{s.series_name}}",
        borderColor: "{{s.color}}",
        backgroundColor: "{{s.color}}",
        fill: false,
        pointRadius: 0,
        pointHoverRadius: 3
      }
    ]
  },
  options: {
    defaultFontFamily: Chart.defaults.global.defaultFontFamily = "'Raleway'",
    title: {
      display: false,
      text: 'Interest in news related assets in the last 24 hours'
    },
    tooltips: {
      mode: 'index',
      intersect: false,
    },
    hover: {
      mode: 'nearest',
      intersect: false,
    },
    scales: {
      xAxes: [{
        scaleLabel: {
          display: false,
          labelString: 'UTC'
        }
      }],
      yAxes: [{
        scaleLabel: {
          display: false,
          labelString: ''
        }
      }]
    }
  }
});
{% endfor %}
</script>
{% endblock script %}
